    
    
<ul>

    <li> Cat Name: <% cat.name %> </li>
    <li> Age: <% cat.age %> </li>
    <li> Birthday: <% cat.birth_date %> </li>
    <li> Color: <% cat.color %> </li>
    <li> Sex: <% cat.sex %> </li>

    <%if action = :index %>
    <li> <a href=" <%= cat_url(cat.id) %>"> Show the cat <li>

</ul>